:root {
  --primary-color: rgb(110, 0, 244);
  --secondary-color: rgb(33, 33, 33);
  --tertiary-color: #fcff65;
  --primary-bg-color: rgb(204, 204, 204);
}

body {
  background-color: var(--primary-bg-color);
}